.h404:hover {
  color: rgb(62, 45, 3);
  transition: 0.2s all ease;
}

.h404 {
  transition: 0.2s all ease;
  font-size: 4rem;
  color: rgb(171, 126, 12);
}

.lead {
  color: rgb(171, 126, 12);
  font-weight: 10;
}

.MyContainer {
  width: 25vw;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  height: 35vh;
  position: relative;
}

.MyBox {
  margin: auto;
  width: 100%;
  position: absolute;
  top: 10%;
}

@media screen and (max-width:600px) {
  .h404 {
    font-size: 6vw;
  }
}