.SuccessContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  max-width: 35rem;
  border-radius: 20px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  transition: all 0.3s ease;
  z-index: 2;

}

.content {
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding-top: 25px;
  padding-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  padding: 4vw;
}

img {
  height: 300px;
  display: block;
  margin: auto;
  transition: all 0.3s ease;
  user-select: none;
}

img:hover {
  transform: scale(1.05);
}

.heading {
  color: rgb(171, 126, 12) !important;
  user-select: none;
  padding-left: 35px;
  padding-right: 35px;
}

.text {
  color: white;
  user-select: none;
}

@keyframes spam {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(-40px, -40px);
  }

  50% {
    transform: translate(0, 0);
  }

  75% {
    transform: translate(40px, 40px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@media only screen and (max-width: 768px) {
  body {
    overflow: hidden;
  }

  .container {
    width: 70%;
  }

  h1 {
    font-size: 2em;
  }

  p {
    font-size: 1em;
  }

  .background-text {
    width: 100%;
  }

  /* img {
    width: 100%;
  } */
}